.DS_Store
node_modules/
dist/
.vuepress/
docs/.vitepress/cache/

# Local development environment
.env.local
.vuepress/public/**
.vuepress/temp/**

# Log files
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swo
*.bak
*.log
*.tmp
*.gz
*.zip
*.exe
*.class
*.pyc
*.pyo
*.bak
